@charset 'utf-8';

@import '~reset-css/sass/reset';

:root {
    --color-text: #223344;
    --color-bg: #F9F8F7;
}

body {
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: Inter, sans-serif;
    font-size: 24px;
    line-height: 1.5;
}

p {
    margin: 0 0 1.25em 0;
}

h1, h2 {
    font-weight: 500;
}

.section {
    padding: 80px 0;
}

.wrapper {
    margin: 0 auto;
    max-width: 960px;
}